<div class="input-group">
    <input type="text"
           id="{{pickerName}}"
           name="{{pickerName}}"
           class="form-control {{pickerCss}}"
           placeholder="{{placeholder}}"
           data-ng-model="ngModel"
           data-min-date="minDate"
           data-max-date="maxDate"
           datepicker-min="{{minDate}}"
           ng-disabled="ngReadonly"
           ng-required="ngRequired"
           placement="{{placement}}"
           uib-datepicker-popup="{{Datepicker.format}}"
           is-open="Datepicker.isOpen"
           show-button-bar="false"
           on-open-focus="true"
           close-on-date-selection="true" />
    <label class="input-group-addon clickable" for="{{pickerName}}" ng-click="Datepicker.open()">
        <span class="glyphicon glyphicon-calendar clickable"></span>
    </label>
</div>
