<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            User Table {{User.currentUser.firstName}} {{User.currentUser.lastName}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" ng-click="User.getUserById()">
                        Get User By Id
                    </button>
                </div>
            </div>
            <div class="row">
                <datepicker class="col-md-3" picker-name="date"
                            placeholder=""
                            placement="top-left"
                            ng-model="User.date"
                            ng-readonly="false"
                            ng-required="true">
                </datepicker>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="grid1" ui-grid="User.gridOptions" ui-grid-edit class="grid col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
</div>